apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: devfile-sample-code-with-quarkus-sm5d
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devfile-sample-code-with-quarkus-sm5d
    app.kubernetes.io/part-of: quarkus
  name: devfile-sample-code-with-quarkus-sm5d
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: devfile-sample-code-with-quarkus-sm5d
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: devfile-sample-code-with-quarkus-sm5d
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-mrww-tenant/quarkus/devfile-sample-code-with-quarkus-sm5d@sha256:b990d99eb1f45a145b61860bd2a690bdae1d3b8f9059908d5f2056fced416ed1
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
